.choice-btn {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  background-color: #ae0000;
  color: #ffffff;
  padding: 10px;
  margin-right: 10px;
  border: unset;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}
.choice-btn:hover {
  background-color: #ffffff;
  border: 1px solid #000;
  color: #000;
}
.styles_overlay__CLSq- {
  align-items: center;
}
.styles_modal__gNwvD {
  width: 500px;
  height: auto;
  padding-bottom: 0;
}
.styles_modal__gNwvD p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
